<mat-toolbar>
  <span class="toolbar-title">FlirtMoji</span>

  <a mat-button routerLink="/matches" class="first-toolbar-link">Matches</a>
  <a mat-button routerLink="/lists" class="toolbar-link">Lists</a>
  <a mat-button routerLink="/messages" class="toolbar-link">Messages</a>

  <span class="spacer"></span>

  <div *ngIf="!(accountService.currentUser$ | async)">
    <form (ngSubmit)="login()">
      <mat-form-field appearance="fill" class="login-input">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="model.username" name="username">
      </mat-form-field>

      <mat-form-field appearance="fill" class="login-input">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="model.password" name="password">
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button" type="submit">Login</button>
    </form>
  </div>
  <div *ngIf="accountService.currentUser$ | async" class="user-info">
    <span>Welcome, User!</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/edit-profile">Edit Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
