mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px; /* Adjust as needed */
}

mat-toolbar > * {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 15px;
}

.first-toolbar-link {
  margin-left: 60px;
  font-size: 1.1rem;
}

.toolbar-link {
  font-size: 1.1rem;
}

.login-input {
  margin-top: 20px;
  margin-right: 15px;
}

.login-button {
  font-size: 1.1rem;
  padding: 10px 30px;
  margin-right: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
